<module>
	<rawname>asterisk-cli</rawname>
	<name>Asterisk CLI</name>
	<version>0.001</version>
	<type>tool</type>
	<category>System Admin</category>
	<menuitems>
		<cli>Asterisk CLI</cli>
	</menuitems>
	<location>release/asterisk-cli-0.001.tgz</location>
	<info>http://freepbx.org/wiki/AsteriskCli</info>
	<md5sum>68041455f195e3c0b933821d5d77bb28</md5sum>
</module>
