<module>
	<rawname>asterisk-cli</rawname>
	<name>Asterisk CLI</name>
	<version>1.0</version>
	<type>tool</type>
	<category>System Admin</category>
	<menuitems>
		<cli>Asterisk CLI</cli>
	</menuitems>
	<depends>
		<engine>asterisk</engine>
	</depends>
	<location>release/2.2/asterisk-cli-1.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-CLI</info>
	<md5sum>af3c22f41599762122e075ac734b1612</md5sum>
	<changelog>
*1.0* Fixed security issue, first release in 2.2
*0.001* Original Release
	</changelog>
</module>
