.output pre {
	font-family: Courier;
	font-weight: bold;
	color: #00BA00;
	background-color: #000000 !important;
	border: 3px solid #CCCCCC;
	padding: 10px;
	margin: 25px 0px 10px 0px;
}

#astcmd-scrollable-dropdown-menu .tt-dropdown-menu {
	max-height: 50vh;
	overflow-y: auto;
}
#astcmd-scrollable-dropdown-menu {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
	margin-bottom: 0;
}

#astcmd-scrollable-dropdown-menu,
.form-control {
	height: calc(1.5em + 0.75rem + 3px) !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.input-group-btn,
.btn {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}